/* body{
  background-color: royalblue;
/* /* }  */
body{
    margin: 0px;
    padding: 0px;
}
#big{
    height: 100vh;

}
 .room {
    /* margin-top: 2.5%; */
    text-align: center;
  } */
 .white {
    background-color: aqua;
    color: rgb(21, 0, 211);
    text-align: center;
    font-style: italic;
    /* height: 100%; */
 } .light {
   background-color: rgb(109, 161, 161);
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    /* height: 100%; */
  
  
  }

  .dark {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-style: italic;
    height: 100%;
  }
  .black {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-style: italic;
    /* height: 100%; */
  }
  


  .main{
    background-color:rgb(21, 0, 211);
   width: 300px;
    height: 0px;
    margin: 10px auto;
    /* margin-top: -50px; */
  border-radius: 20px;
  
  }
  .display{
    text-align: center;
    color: aqua;
    text-shadow: 5px 5px 5px aqua;
    font-size:80px;
  font-style: italic;
  }.display:hover{
    text-shadow:-5px -5px 3px aqua;
    
  }
  .maina{
    /* border: 1px solid rebeccapurple; */
    display: flex ;
    flex-direction: row;justify-content: center;
  
  }.reset,.inc{
  padding: 5px;
  width: 95px;margin: 5px;height: 40px;
  border-radius: 5px;
  border: 3px solid black ;
  color: rgb(4, 24, 24);
  font-weight: bold;
  background-color: aqua;
  }.but{
    border-radius: 10px 5px;
    width: 80px;
    font-weight: bolder;
    border:3px solid ;
  }

  .reset:hover,.reset:active.inc:hover,.inc:hover{
    box-shadow: 5px 5px 5px aqua;
    font-style: italic;
  border: 3px solid whitesmoke ;
  color: rgb(21, 0, 211);
  
  }